.home-page-container {
    // padding-top: 6rem;
    width: 100%;

    .bgc-img {
        width: 100%;
        height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .darker-the-photo {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.368627451);
            color: white;

            .logo-name {

                p {
                    font-size: 70px;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: big-logo-font;

                    span {
                        display: block;
                    }
                }
            }

            .products-writer {
                display: flex;
                justify-content: center;
                padding: 50px;
                position: relative;
                text-align: left;
                width: 50px;
                height: 4;
                height: 50px;
                right: 50px;
                align-items: center;

                h2 {
                    white-space: nowrap;
                    margin: 0;
                }

                .Typewriter__wrapper {
                    white-space: nowrap;
                    // font-size: 2.2em !important;
                    margin-right: 10px;
                    font-size: 1.8em;
                    font-weight: bold;
                    color: #282623 !important;
                    font-weight: 600 !important;
                }

                .Typewriter__cursor {
                    // font-size: 2.4em !important;
                    color: #c4bec7 !important;
                }

                .Typewriter__cursor {
                    display: none !important;
                }

                @media (max-width: 767px) {
                    .Typewriter__wrapper {
                        font-size: 1.4em !important;
                        font-weight: 500 !important;
                        position: absolute !important;
                    }

                    .Typewriter__cursor {
                        display: none !important;
                    }
                }
            }
        }
    }

}