.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .first-section {
        display: flex;
        width: 90%;
        margin-top: 50px;
        justify-content: center;

        .product-info {
            display: flex;
            height: 600px;
            width: 400px;
            overflow: scroll;
            max-height: 600px;
            flex-direction: column;
            text-align: end;
            font-weight: bold;

            >* {
                position: relative;
                margin: 0;
            }

            .ingredients-list {

                // #container {
                //     border: 1px solid black;
                //     padding: 15px;
                // }

                // #top-section {
                //     border-bottom: 1px solid red;
                // }

                // #expand-container {
                //     overflow: hidden;
                // }

                // #expand-contract {
                //     border-bottom: 1px solid red;
                //     margin-top: -100%;
                //     transition: all 1s;
                // }

                // #expand-contract.expanded {
                //     background-color: green;
                //     margin-top: 0;
                // }

                .addings-parve {
                    cursor: pointer;

                    p {
                        border-top: 1px solid #999;
                        display: flex;
                        border-bottom: 1px solid #999;
                        padding: 5px;
                        margin: 0;
                        cursor: pointer;
                        justify-content: space-between;
                    }

                    .expends-parve {
                        z-index: -10;
                        position: absolute;
                        padding: 5px;
                        border-bottom: 1px solid #999;
                        padding-left: 10px;
                        width: 100%;
                        margin-top: -45%;
                        transition: margin .6s;
                        opacity: 0;
                        flex-direction: column;
                        align-items: flex-end;
                    }

                    .expends-parve.expends {
                        display: flex;
                        opacity: 1;
                        transition: margin .6s;
                        margin-top: 0;
                        position: relative;
                        background-color: #afaeae42;
                    }
                }

                .addings-milky {
                    cursor: pointer;

                    p {
                        border-top: 1px solid #999;
                        display: flex;
                        border-bottom: 1px solid #999;
                        padding: 5px;
                        margin: 0;
                        cursor: pointer;
                        justify-content: space-between;
                    }

                    .expends-milky {
                        z-index: -10;
                        position: absolute;
                        padding: 5px;
                        border-bottom: 1px solid #999;
                        padding-left: 10px;
                        width: 100%;
                        margin-top: -45%;
                        transition: margin .6s;
                        opacity: 0;
                        flex-direction: column;
                        align-items: flex-end;
                    }

                    .expends-milky.expends {
                        display: flex;
                        opacity: 1;
                        transition: margin .6s;
                        margin-top: 0;
                        position: relative;
                        background-color: #afaeae42;
                    }
                }

                .allergy-info {
                    cursor: pointer;

                    section.container {
                        border-top: 1px solid #999;
                        display: flex;
                        border-bottom: 1px solid #999;
                        padding: 5px;
                        margin: 0;
                        cursor: pointer;
                        justify-content: space-between;

                        >* {
                            margin: 0;
                        }
                    }

                    .expends-allergy {
                        display: flex;
                        position: absolute;
                        padding: 5px;
                        border-bottom: 1px solid #999;
                        justify-content: flex-end;
                        padding-left: 10px;
                        top: 0;
                        transition: 0.7s;
                        width: 100%;
                        left: -700px;
                        // opacity: 1;

                        >* {
                            padding-left: 5px;
                            margin: 0;
                        }
                    }

                    .expends-allergy.expends {
                        // opacity: 1;
                        left: 0;
                        transition: 0.7s;
                        position: relative;
                    }
                }
            }

            .title {
                font-size: 35px;
                color: $main-clr;
            }

            .price {
                font-size: 25px;
                color: $main-clr;
            }

            .short-description {
                border-top: 1px solid #999;
                // border-bottom: 1px solid #999;
                padding: 8px 0px 8px 1px;
                color: $main-clr;
                margin-bottom: 6px;
                font-weight: bold;
            }

            .description {
                color: $main-clr;
            }

            .product-price {
                display: flex;
                justify-content: flex-end;

                p:first-child {
                    margin-right: 6px;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                padding-right: 25px;
            }

            .last-info {

                margin-top: 10px;

                >* {
                    font-size: 0.8em;
                    display: flex;
                    list-style-type: armenian;
                    padding: 6px;
                    border-bottom: 1px solid #999;
                    justify-content: center;
                }
            }
        }

        .img-container {
            background-size: cover;
            background-position: center;
            background-size: cover;

            img {
                border-radius: 18px;
                box-shadow: 4px 4px 9px 6px rgb(0 0 0 / 10%);
                object-fit: cover;
            }
        }
    }

    .other-links {

        .whatsapp-contact {
            display: flex;
            margin-top: 30px;
            list-style: none;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: rgba(85, 163, 78, 0.639);
                border-radius: 20px;
            }
        }
    }
}

@media screen and (min-width: 851px) {
    .first-section {
        .product-info {
            margin-right: 30px;
            padding-right: 10px;
        }

        .img-container {

            img {
                height: 610px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .first-section {
        display: flex;
        width: 90%;
        margin-top: 50px;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;

        .img-container {

            img {
                height: 700px;
            }
        }

        .product-info {
            height: 430px;
            margin-right: 0;
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 550px) {
    .first-section {

        .img-container {

            img {
                height: 610px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .product-details-container {

        .first-section {

            .product-info {
                width: 360px;
            }

            .img-container {

                img {
                    height: 440px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {

    .product-details-container {


        .first-section {

            .img-container {

                img {
                    height: 330px;
                }
            }
        }
    }
}