.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    // .radio-btns {
    //     display: flex;
    //     font-size: 20px;
    //     justify-content: center;
    //     margin-top: 60px;

    //     ul {
    //         padding: 0;
    //         display: flex;

    //         .highlight {
    //             color: rgba(25, 25, 215, 0.358);
    //         }

    //         li {
    //             display: flex;
    //             list-style: none;
    //             font-weight: bold;
    //             padding: 12px;


    //             // &:first-child {
    //             //     border-right: 1px solid #999;
    //             // }

    //             &:hover {
    //                 color: #999;
    //                 cursor: pointer;
    //             }
    //         }
    //     }
    // }

    .gallery {
        display: grid;
        grid-gap: 15px;
        margin-top: 60px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);

        >* {
            cursor: pointer;
            position: relative;
            width: 250px;
            height: 420px;
            transition: 0.5s;
            box-shadow: 5px 5px 9px 0px rgb(0 0 0 / 10%);
            opacity: 1;
        }

        .recipe-info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 5px;

            margin-top: -8px;

            // .recipe-mini-title {
            //     color: black;
            // }

            .title-and-mini-title {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                padding: 6px;

                .recipe-mini-title {}

                p.title {
                    font-size: .65em;
                }

                >* {
                    font-weight: bold;
                    margin: 0;
                    padding: 4px;
                    text-align: end;
                }

                .recipe-price {
                    display: flex;

                    p:first-child {
                        margin-right: 6px;
                    }
                }


            }

            .btns {
                display: flex;
                width: 100%;
                padding-bottom: 10px;
                justify-content: space-around;
                transition: 0.5s;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 15px 32px;
                    width: 75px;
                    height: 26px;
                    border-radius: 18px;

                    background-color: rgb(125, 120, 120);
                    cursor: pointer;
                    border: none;
                    font-size: 12px;
                    font-weight: bold;
                    transition: 0.5s;
                }

                >* {

                    &:hover {
                        transition: 0.5s;
                        opacity: 0.8;

                        button {
                            transition: 0.5s;
                            opacity: 1;

                            &:hover {
                                background-color: rgb(137, 134, 134);
                            }
                        }
                    }
                }
            }


        }

        .recipe {
            border-radius: 14px;

            &:hover {

                img {
                    transition: 0.7s;
                    filter: brightness(0.85);
                }

                .btns {

                    button {

                        width: 45%;
                    }
                }

            }

            img {
                float: left;
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 14px;
                transition: 0.7s;
                filter: brightness(0.6);
            }

        }
    }
}

@media screen and (min-width: 551px) {
    .recipe-container {
        .gallery {

            .recipe-info {

                .btns {
                    button {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 301px) {
    .recipe-container {

        .radio-btns {
            ul {
                li {
                    font-size: 15px;

                    &:not(:last-child) {
                        border-right: 1px solid #969494;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .recipe-container {

        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, auto);
            grid-gap: 15px;
        }
    }
}

@media screen and (max-width: 900px) {
    .recipe-container {

        .gallery {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, auto);
            grid-gap: 15px;

            >* {
                // width: 250px;
                // height: 370px;
            }

            // .recipe-info {

            //     .btns {
            //         button {
            //             margin-top: 10px;
            //         }
            //     }
            // }

            .recipe {

                img {
                    // height: 260px;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .recipe-container {

        // flex-direction: row;

        .gallery {

            >* {
                width: 200px;
                height: 420px;
            }

            .recipe-info {

                .btns {
                    button {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .recipe-container {

        // .radio-btns {
        //     ul {
        //         li {
        //             font-size: 15px;
        //         }
        //     }
        // }

        // .recipe-links {
        //     display: flex;
        //     flex-direction: column-reverse;
        //     align-items: center;
        //     justify-content: center;
        //     list-style: none;
        //     padding: 0;
        // }

        .gallery {
            // display: grid;
            // grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(5, auto);
            // grid-gap: 15px;

            >* {
                width: 160px;
                // height: 310px;
                height: 340px;

                .recipe {
                    img {
                        height: 200px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .recipe-container {

        .radio-btns {
            ul {
                li {
                    font-size: 15px;

                    // &:not(:last-child) {
                    //     border-right: 1px solid #969494;
                    // }
                }
            }
        }

        .recipe-links {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        .gallery {
            // display: grid;
            // grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(5, auto);
            // grid-gap: 15px;

            >* {
                width: 130px;
                height: 320px;

                .recipe {
                    img {
                        height: 170px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .recipe-container {

        .radio-btns {
            ul {
                padding: 0;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;

                li {
                    font-size: 12px;
                }
            }
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, auto);
            grid-gap: 15px;

            >* {
                width: 210px;
                height: 380px;

                .recipe {
                    img {
                        height: 260px;
                    }
                }
            }
        }
    }
}