.recipe-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .first-section {
        display: flex;
        width: 90%;
        margin-top: 50px;
        justify-content: center;

        .recipe-info {
            display: flex;
            height: 600px;
            width: 400px;
            overflow: scroll;
            max-height: 600px;
            flex-direction: column;
            text-align: end;
            font-weight: bold;

            >* {
                // position: relative;
                // margin: 0;
            }

            div.button-expand {
                display: flex;
                justify-content: flex-end;

                button.view-more {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 3px 7px;
                    border-radius: 6px;
                    border: none;

                    background: #6E6D70;
                    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
                    color: #DFDEDF;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;

                    &:hover {
                        background: #8a888d;
                        cursor: pointer;
                    }

                    button.view-more:focus {
                        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
                        outline: 0;
                    }
                }

            }

            .main-title {
                display: flex;
                font-size: 1.5em;
                justify-content: center;
            }

            .mini-title {
                display: flex;
                font-size: 35px;
                justify-content: center;
                color: $main-clr;
            }

            .title .time-to-make {
                font-size: .7em;
            }

            .ingredients-container {


                .ingredients-first-ul {
                    list-style-type: none;
                    padding: 7px;

                    .ingredient-title {
                        border-bottom: 1px solid #999;
                        padding: 12px;
                        margin: 0;
                        font-size: 1.35em;
                    }

                    li.ingredient {
                        padding: 2px;
                    }
                }

                // :last-child {
                //     margin-bottom: 20px;
                // }
            }

            .instructions {
                border-top: 1px solid #999;
                margin-top: 10px;

                .instruction-container {

                    .category-title {
                        font-size: 1.35em;
                        border-bottom: 1px solid #999;
                        padding: 12px;
                        margin: 0;
                    }

                    ul {
                        list-style-type: none;
                        padding: 14px;

                        li {}
                    }
                }
            }

            // ul {
            //     padding: 0;
            //     margin: 0;
            //     list-style: none;
            //     padding-right: 25px;
            // }
        }

        .img-container {
            background-size: cover;
            background-position: center;
            background-size: cover;

            img {
                border-radius: 18px;
                box-shadow: 4px 4px 9px 6px rgb(0 0 0 / 10%);
                object-fit: cover;
            }
        }
    }

    .other-links {

        .whatsapp-contact {
            display: flex;
            margin-top: 30px;
            list-style: none;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: rgba(85, 163, 78, 0.639);
                border-radius: 20px;
            }
        }
    }
}

@media screen and (min-width: 851px) {
    .first-section {
        .recipe-info {
            margin-right: 30px;
            padding-right: 10px;
        }

        .img-container {

            img {
                height: 610px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .first-section {
        display: flex;
        width: 90%;
        margin-top: 50px;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;

        .img-container {

            img {
                height: 700px;
            }
        }

        .recipe-info {
            height: 430px;
            margin-right: 0;
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 550px) {
    .first-section {

        .img-container {

            img {
                height: 610px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .first-section {

        .img-container {

            img {
                height: 440px;
            }
        }
    }
}

@media screen and (max-width: 320px) {

    .recipe-details-container {


        .first-section {

            .img-container {

                img {
                    height: 330px;
                }
            }
        }
    }
}