body {
    margin: 0;
    color: $main-clr;

    background-color: $main-bgc;
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit
}

.pages-container {
    padding-top: 6rem;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    height: 10px;
    background: rgb(204 204 204 / 50%);
}

@import '../setup/typography';

* {
    box-sizing: border-box;
}

::selection {
    // background-color: $third-txt-clr;
    // color: $main-txt-clr;
}

html {
    // font-family: spotify-font, open-sans, sans-serif;
    font-family: main-font;
    line-height: 1.6;
    // color: $main-txt-clr;
}

.modal-opened123 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: rgb(0 0 0 / 12%);
}

.go-back-btn,
.forward-btn {
    margin: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    position: absolute;
    left: 0;
    // position: relative;
    width: 32px;
    cursor: pointer;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

svg {
    fill: rgb(0, 0, 0);
    opacity: 0.7;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

::-webkit-scrollbar {
    width: 14px;
    height: 22%;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 155);
    border: 0px none #857a7a;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

::-webkit-scrollbar-thumb:active {
    background: rgba(118, 115, 115, 0.65);
}

::-webkit-scrollbar-track {
    background: #cccccc;
    border: 0px dotted #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #a7a5a979;
}

::-webkit-scrollbar-track:active {
    background: #4b847300;
}

::-webkit-scrollbar-corner {
    background: transparent;
}