.my-story-short {
    display: flex;
    margin: auto;
    padding: 50px;
    height: auto;
    color: $main-clr;
    justify-content: center;

    .img-container {
        background-size: cover;

        img {
            height: 540px;
            object-fit: cover;
        }
    }

    .story-container {
        margin-left: 35px;
        max-width: 400px;

        .my-story-title {
            display: flex;
            font-size: 40px;
            justify-content: center;

            span {
                border-bottom: 1px solid #999;
            }

        }

        .read-more {
            span {
                display: flex;
                margin-top: 10px;
                justify-content: center;
                font-weight: bold;
                transition: all ease-in-out 350ms;
                cursor: pointer;

                &:hover {
                    color: #000;
                    background-color: #fff;
                    border-radius: 50px;
                }
            }
        }

        .about-me {
            min-width: 280px;
        }
    }
}

@media screen and (max-width: 1050px) {
    .my-story-short {
       
        // width: 870px;
    }
}


@media screen and (max-width: 850px) {
    .my-story-short {
        // max-width: 520px;
        // width: 800px;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 850px) {
    .my-story-short {
        // max-width: 520px;
    }
}

@media screen and (max-width: 500px) {
    .my-story-short {
        // max-width: 400px;

        .img-container {

        }
    }
}

@media screen and (max-width: 450px) {
    .my-story-short {
        // max-width: 400px;

        .img-container {
            width: 320px
        }
    }
}

@media screen and (max-width: 350px) {
    .my-story-short {
        display: flex;
        margin: auto;
        padding: 50px;
        // max-width: 340px;
        // width: 800px;
        height: auto;
        // color: #cccccc;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;

        .img-container {
            width: 270px;
        }
    }
}

@media screen and (max-width: 300px) {
    .my-story-short {
        display: flex;
        margin: auto;
        padding: 50px;
        // max-width: 340px;
        // width: 800px;
        height: auto;
        // color: #cccccc;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;

        .img-container {
            width: 230px;
        }
    }
}